<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>


@code {

    [Inject] private IJSRuntime _js { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            BitThemeManager.Init(_js);
        }
    }
}
