<!DOCTYPE html>
<html lang="en" use-system-theme>

<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Bit.BlazorUIPlayground.styles.css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link href="_content/Bit.BlazorUI/styles/bit.blazorui.css" rel="stylesheet" />
    <style>
        html, body {
            margin: 0;
            height: 100%;
        }
    </style>
    <HeadOutlet />
</head>

<body class="@BitCss.Class.Color.Background.Primary @BitCss.Class.Color.Foreground.Primary">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Bit.BlazorUI/scripts/bit.blazorui.js"></script>
</body>

</html>
