@inherits LayoutComponentBase

<Header />

<main>
    <article>
        @Body
    </article>

    <Footer />
</main>

@code {

    [Inject] private IJSRuntime _js { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            BitThemeManager.init(_js);
            var myTheme = new BitTheme();
            BitThemeManager.ApplyBitTheme(myTheme);
        }
    }
}
